p {
    font: bold calc(8px + 2vw) sans-serif;
    color: crimson;
}

#BoxImg {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#Bee {
    width: 80%;
    object-fit: contain;    
}

@media (max-width: 650px),
(max-width: 280px) {
    #BoxImg {
        height: 200px;
    }
}