section {
    width: 100%;
    height: auto;
    position: static;
    top: 0%;
    background: rgba(0,0,255, .2);
    border: 2px solid red;
}

ul {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid orange;
}

li {
    list-style: none;
}