<section>

    <section class="section">
        <div class="div" [ngClass]="valor ? 'Fondo1' : 'Fondo2'">
            <div class="testimonio" [ngClass]="valor ? 'Background1' : 'Background2'">
                <p>
                    "Contratamos el equipo para desarrollar una aplicación web personalizada para nuestra empresa. La combinación de ASP.NET Core y Angular permitió crear una plataforma eficiente y moderna. No solo cumplió con nuestras expectativas, sino que las superó en cuanto a velocidad y escalabilidad. ¡Estamos conformes y lo recomendados al 100%!"
                </p>
        
                <figure>
                    <img src="../../../assets/img/0f4000a6-4710-432f-9f27-6b0b817abb24.webp" title="Carlos Martínez">
                </figure>
            </div>
            
            <div class="titulos">
                <h3 [ngClass]="valor ? 'Black' : 'White'">Carlos Martínez</h3>
                <h4>Empresa Tech Innovar</h4>
            </div>
    
        </div>
    
        <div class="div" [ngClass]="valor ? 'Fondo1' : 'Fondo2'">
            <div class="testimonio" [ngClass]="valor ? 'Background1' : 'Background2'">
                <p>
                    "Necesitábamos un sitio web que fuera rápido, fácil de mantener y un con un buen CEO, y el equipo lo logró con un enfoque sólido usando Angular para el frontend y ASP.NET Core para el backend. Lo que más me impresionó fue la atención al detalle y cómo se adaptaron a nuestras necesidades específicas. ¡Excelente trabajo!"
                </p>
    
                <figure>
                    <img src="../../../assets/img/12386a8b-ab44-4071-84f7-aceb9d27d1a5.webp" title="Ana Fernández">
                </figure>
            </div>
    
            <div class="titulos">
                <h3 [ngClass]="valor ? 'Black' : 'White'">Ana Fernández</h3>
                <h4>Negocio Digital Global</h4>
            </div>
        </div>
    
        <div class="div" [ngClass]="valor ? 'Fondo1' : 'Fondo2'">
            <div class="testimonio" [ngClass]="valor ? 'Background1' : 'Background2'">
                <p>
                    "Me uní al proyecto como parte del equipo de desarrollo y puedo decir que fue una experiencia muy enriquecedora. El uso de ASP.NET Core en del backend y Angular en el frontend hizo que el desarrollo fuera rápido y eficiente. Además, la integración fue perfecta y bien estructurada. Definitivamente volvería a trabajar con ellos."
                </p>
                
                <figure>
                    <img src="../../../assets/img/15515204-22e9-4a58-bd9a-e8d46e29a89d.webp" title="Javier López">
                </figure>
            </div>
    
            <div class="titulos">
                <h3 [ngClass]="valor ? 'Black' : 'White'">Javier López</h3>
                <h4>Desarrollador Independiente</h4>
            </div>
        </div>
    
        <div class="div" [ngClass]="valor ? 'Fondo1' : 'Fondo2'">
            <div class="testimonio" [ngClass]="valor ? 'Background1' : 'Background2'">
                <p>
                    "Mi tienda en línea necesitaba una actualización urgente y gracias al equipo de desarrollo, ahora tengo una plataforma moderna, segura y con una interfaz increíblemente amigable. El uso de Angular para la interfaz de usuario y ASP.NET Core en el backend ha sido la clave para el rendimiento de mi sitio. ¡Altamente recomendados!"
                </p>
        
                <figure>
                    <img src="../../../assets/img/308c44ff-5d9e-4344-8ffe-0bc874574a13.webp" title="María González">
                </figure>
            </div>
            <div class="titulos">
                <h3 [ngClass]="valor ? 'Black' : 'White'">María González</h3>
                <h4>Dueña de Ecommerce SimpleStore</h4>
            </div>
        </div>
    </section>

</section>
