<!-- <h1 [ngClass]="valor ? 'Chat1' : 'Chat2'">Section Message Soon</h1> -->
<section id="Cont-box" class="section">

    <ul id="Cont">
      
      <li class="li"> <!-- (click)="ToggleNull($event);" -->
        
        <div class="box-list">
          
          <div class="Msj">

            <div class="chat" *ngFor="let msj of listMessage | async">
              <p>{{msj.userName}}</p>
              <p class="parrafo">{{msj.chatMsj}}</p>
              <p>{{msj.timeHora}}</p>
            </div>


            <ng-template #TextMaxLength>
              <p class="parrafo">...</p>
            </ng-template>
        
            <!-- <div #caja class="BoxBtn">
              <button #Box1 class="Bots">Editar</button>
              <button #Box2 class="Bots">Borrar</button>
              <button #Box3 class="BtnDelete Bots">Eliminar completamente</button>
            </div> -->
  
          </div>
  
          <div id="BoxForm" [ngClass]="valor ? 'ChatBack1' : 'ChatBack2'">
            <!-- <input #ElNombre [ngClass]="valor ? 'ChatColor1' : 'ChatColor2'" name="ElNombre" type="text" placeholder="Nombre.." maxlength="15" autofocus /> -->
            <!-- <input #ElMensaje [ngClass]="valor ? 'ChatColor1' : 'ChatColor2'" name="ElApellido" #text type="text" placeholder="Escribe mensaje.." /> -->
            <textarea autoResizeTextarea class="custom-textarea" [formControl]="Mensaje" [ngClass]="valor ? 'ChatColor1' : 'ChatColor2'" name="ElApellido" placeholder="Escribe aquí..."></textarea>
            <!-- <div class="custom-textarea" #ElMensaje [ngClass]="valor ? 'ChatColor1' : 'ChatColor2'" name="ElApellido" placeholder="Escribe aquí..." contenteditable="true"></div> -->
            <button class="enviar">
              <i class="icon-paper-plane-alt" (clicl)="SendMsj();"></i>
              <span class="visually-hidden">➣</span>
            </button>
          </div>


          <!-- <main id="chat">
            <app-messager (click)="ToggleBox($event, ID());" class="chat" *ngFor="let msj of listMessage | async" [oMessage]="msj"></app-messager>
          </main> -->

        </div>


      </li>

      <!-- li*20.li>p{llista$} -->

      
    </ul>
      
      
</section>