<footer class="footer" appScrollAnimation>
    <div class="footer-content">
        <div class="footer-box">
            <div>
                <h1 id="logo-footer">Logo</h1>
                
                <ul>
                    <li>
                        <p>
                            Trabajamos de manera remota
                        </p>
    
                        <p>
                            <i class="icon-location"></i>
                            Ubicación: Buenos Aires, Argentina.
                        </p>
                        <br>
                    </li>
    
                    <li>
                        <i class="icon-phone-squared"></i>
                        +54 9 11 2359 0020
                    </li>
    
                    <li>
                        <i class="icon-mail"></i>
                        glgnetframework85&#64;gmail.com
                    </li>
                </ul>
            </div>
    
            <div>
                
                <h1>Nuestros servicios</h1>
                <br>
                <p>- Desarrollo de aplicaciones web personalizadas.</p>
    
                <p>- Creación de APIs con ASP.NET Core.</p>
    
                <p>- Desarrollo de SPAs con Angular.</p>
    
                <p>- Mantenimiento y soporte técnico.</p>
    
                <p>- Consultoría en arquitectura de software.</p>
    
            </div>
    
            <div>
                <h1>Más sobre nosotros</h1>
                <br>
                <div>
                    <h1>Suscríbete a nuestro boletín</h1>
                    <br>
                    <form action="#" method="post">
                        <input type="email" placeholder="Ingresa tu email" required>
                        <button type="submit">Suscribirme</button>
                    </form>
                </div>
    
            </div>
        </div>
        <div class="copy">Copyright &copy; 2024 Todos los derechos reservados.</div>
    </div>
</footer>