<footer class="footer" appScrollAnimation>
    <div class="footer-box">
        <div>
            <h1>Logo</h1>
            <ul>
                <li>
                    <p>
                        Trabajamos de manera remota
                    </p>

                    <p>
                        <i class="icon-location"></i>
                        Ubicación: Buenos Aires, Argentina.
                    </p>
                    <br>
                </li>

                <li>
                    <i class="icon-phone-squared"></i>
                    +54 9 11 2359 0020
                </li>

                <li>
                    <i class="icon-mail"></i>
                    glgnetframework85&#64;gmail.com
                </li>
            </ul>
        </div>

        <div>
            <h1>Nuestros servicios</h1>
        </div>

        <div>
            <h1>Más sobre nosotros</h1>
        </div>
    </div>
    <div class="copy">Copyright &copy; 2024 Todos los derechos reservados.</div>
</footer>