form {
    width: 50%;
    max-width: 1450px;
    height: 400px;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    z-index: 10;
    border-radius: 1rem;
}


form.Background1 {
    background: rgba(20, 66, 111, .7);
    border: 4px solid rgba(200, 200, 255, .3);
}

form.Background2 {
    background: rgba(0,0, 144, .05);
    border: 4px solid rgba(200, 200, 255, .05);
}

input {
    padding: 10px 20px;
}

textarea {
    height: 300px;
    resize: none;
}

input, textarea {
    border-radius: .5rem;
    padding: 10px 20px;
    width: 90%;
}


input.Fondo1, textarea.Fondo1 {
    background: rgba(20, 66, 111, .2);
    border: 2px solid rgba(255,255,255, .1);
}

input.Fondo2, textarea.Fondo2 {
    background: rgba(200, 200, 255, .05);
    border: 2px solid rgba(255,255,255, .1);
}


input.Fondo1::placeholder,
textarea.Fondo1::placeholder {
    color: #aaa;
}

input.Fondo2::placeholder,
textarea.Fondo2::placeholder {
    color: #666;
}


input:focus, textarea:focus, button:focus {
    outline: 2px solid greenyellow;
    outline-offset: -2px;
}

button {
    width: 200px;
    height: 60px;
    min-height: 40px;
    border-radius: .5rem;
    background: dodgerblue;
    border: none;
}

#titulo {
    width: 100%;
    text-align: center;
}



/* -----------------Media Query------------------- */

@media (max-width: 650px),
(max-width: 850px) {
    form {
        width: 70%;
        height: 300px;
        padding: 10px 20px 15px 20px;
    }
}


@media (max-width: 425px),
(max-width: 550px) {
    form {
        width: 80%;
        height: 350px;
        margin: 50px auto;
    }
    input, textarea {
        width: 85%;
    }
    textarea {
        height: 180px;
    }
}