h1 {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

section {
    width: 80%;
    height: 100vh;
    margin: auto;
    position: relative;
    /* border: 2px solid green; */
}


  .container {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
  }
  
  form {
    background: rgb(50, 155, 255, .3);
    padding: 3em 1em;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  
  input {
    background: transparent;
    width: 300px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
  }
  
  
  &[type="button"] {
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  
  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }
  
  .drop {
    background: white;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
    position: absolute;
    transition: all 0.2s ease;
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
  }

  p {
    margin-bottom: 15px;
  }
  
  a:focus {
    outline: none;
  }

  input:focus,  
  button:focus {
    outline: 2px solid #b6ff00;
    outline-offset: -2px;
  }


  

  /* -----------------Media Query------------------- */


@media (max-width: 650px),
(width: 300px) {
    input {
        width: calc(200px + 10vw);
    }
    .drops {
      display: none;
    }
}