<section class="section">

  <div class="container">
      <form [ngClass]="valor ? 'LoginBack1' : 'LoginBack2'">
        
        <p class="p">Inicia Sesión!</p>

        <input type="text" #myUserNameEmail [formControl]="Nombre" placeholder="Nombre de usuario ej: user" /> <!-- class="nom" -->
        <div #EmailRef class="label" contenteditable="false">
          <i class="icon-attention-1 icon"></i>
          {{MyEmal}}
        </div>

        <input type="password" #myPassword [formControl]="Clave" placeholder="Clave ej: 1324" /> <!-- class="pass" -->
        <div #PassRef class="label" contenteditable="false">
          <i class="icon-attention-1 icon"></i>
          {{MyPass}}
        </div>

        <input class="button" type="button" (click)="loginEnter();" value="{{Ingresar}}"><br>

        <div class="box-forgot">
          <a id="create" [routerLink]="['/create']" class="btn-primary">No tienes cuenta registrate ahora!!</a>
        </div>

      </form>
      
    </div>
    
</section>