.section {
  width: auto;
  height: 70vh;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid tomato; */
}

h1 {
  width: 320px;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 20px;
  /* border: 2px solid magenta; */
}

.form {
  width: 320px;
  max-height: 350px;
  height: auto;
  background: rgb(50, 155, 255, .3);
  padding: 3em 1em;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
 

#create {
  width: 100%;
  height: auto;
  margin-bottom: -40px;
  padding: 10px 0px;
  line-height: 50px;
  color: dodgerblue;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: .5rem;
  font: 400 calc(4px + .5em) sans-serif;
  /* border: 2px solid cyan; */
}

.pass {
  width: calc(100% - 3em);
  padding: 10px 15px;
}


.nom {
  width: calc(100% - 3em);
  padding: 10px 15px;
}

#label {
  padding: 15px;
  /* border: 2px solid greenyellow; */
}

.nom,
.pass {
  background: transparent;  
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 500px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.1);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}



#botonLogin {
  width: calc(100% - 2em);
  min-height: 35px;
  background: dodgerblue;
  border-radius: .5rem;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 500px;
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
}

#botonLogin:focus,
.nom:focus,
.pass:focus,
#create:focus {
  outline: 2px solid greenyellow;
}



  /* -----------------Media Query------------------- */


@media (max-width: 650px),
(width: 300px) {
  h1 {
    width: 250px;
  }
  input {
    width: calc(200px + 10vw);
  }
  .form {
    width: 80%;
  }
    
}