
<br>

<div class="banner-container">
    <div class="banner-content">
        
        <ng-container *ngFor="let conbined of conbiedArray, let i index">
            <img src="../../../assets/img/{{conbined.b}}" alt="icon8" name="icon8">
            <span>{{conbined.a}}</span>
        </ng-container>

        <ng-container *ngFor="let conbined of conbiedArray, let i index">
            <img src="../../../assets/img/{{conbined.b}}" alt="icon8" name="icon8">
            <span>{{conbined.a}}</span>
        </ng-container>
        
    </div>
</div>

