<section class="section">

    <div class="container">
        <form>
          <p>Welcome</p>
          <input type="email" placeholder="Email"><br>
          <input type="password" placeholder="Password"><br>
          <input class="button" type="button" value="Sign in"><br>

          <div class="box-forgot">
            <a id="login" (click)="loginLink();">Ya tengo una cuenta</a>
            <a id="forgot" (click)="homeLink();">Olvidaste tu password?</a> <!-- Forgot Password? -->
            <!-- <a id="login" [routerLink]="['/login']" class="btn-primary">No tienes cuenta?</a> -->
          </div>

        </form>
        
      </div>
      
</section>