<section class="section">

    <div class="container">
        <form>
          <p>Welcome</p>
          <input type="email" placeholder="Email"><br>
          <input type="password" placeholder="Password"><br>
          <input type="button" value="Sign in"><br>

          <div class="box-forgot">
            <a id="login" (click)="loginLink();">No tienes cuenta?</a>
            <a id="forgot" (click)="homeLink();">Olvidaste tu password?</a> <!-- Forgot Password? -->
            <!-- <a id="login" [routerLink]="['/login']" class="btn-primary">No tienes cuenta?</a> -->
          </div>

        </form>
      
        <div class="drops">
          <div class="drop drop-1"></div>
          <div class="drop drop-2"></div>
          <div class="drop drop-3"></div>
          <div class="drop drop-4"></div>
          <div class="drop drop-5"></div>
        </div>
      </div>
      
</section>