{{V()}}
<section #NavSection id="NavSection" (window:scroll)="myScroll();">
    <nav id="Nav">

        <div id="logo-footer">
            <img class="img-logo" src="../../../assets/img/Logo01.png" title="Logo">
            <h1 class="logo-footer">App Flow Craft</h1>
        </div>

        <ul class="Nav-var">

            <li class="Nav-item">
                <a class="Nav-link" [routerLink]="['/home']" [queryParams]="{action: '1'}">
                    Home
                <div class="div" [ngClass]="ElLink1 ? 'link1 ' : 'link2' "></div>
                </a>
            </li>

            <li class="Nav-item">
                <a class="Nav-link" [routerLink]="['/chat']" [queryParams]="{action: '2'}">
                    Chat
                <div class="div" [ngClass]="ElLink2 ? 'link1 ' : 'link2' "></div>
                </a>
            </li>

            <li class="Nav-item">

                <a *ngIf="UserSession === null; else UserSess" class="Nav-link" [routerLink]="['/login']" [queryParams]="{action: '3'}">
                    Login
                <div class="div" [ngClass]="ElLink3 ? 'link1 ' : 'link2' "></div>
                </a>

                <ng-template #UserSess>
                        <a class="Nav-link" [routerLink]="[ '/login'] " [queryParams]="{action: '3'} " (click)="logoff() ">
                        Cerrar Sesión
                        <div class="div " [ngClass]="ElLink3 ? 'link1 ' : 'link2' "></div>
                      </a>
                </ng-template>

            </li>

            

        </ul>

        <a id="session" *ngIf="UserSession !== null" class="Nav-link session">
            Sesión de:<span>&nbsp;{{Parrafo3}}</span>
        </a>


        <input #btnCheck type="checkbox" id="btn-menu" name="input-check" title="input-check" />
        <label (click)="BtnMenu();" for="btn-menu" class="btn-menu">
            <span class="menu1" #menu1></span>
            <span class="menu2" #menu2></span>
            <span class="menu3" #menu3></span>
        </label>


        <ol *ngIf="!ValorBool" id="Config" class="Nav-cog">
            <li>
                <svg #Svg0 id="svg0" (click)="Light();">
                    <foreignObject id="foreignObject01"  x="10" y="10" width="20" height="20">
                        <i class="icon-moon-inv"></i>
                    </foreignObject>

                    <circle #Circle0 id="circle0" class="icon-adjust" r="10" cy="50%" cx="25%" pathlength="100" />

                    <foreignObject id="foreignObject02" x="10" y="10" width="20" height="20">
                        <i class="icon-sun-filled"></i>
                    </foreignObject>
                </svg>
            </li>
        </ol>


    </nav>
</section>


<div id="boxsection" class="boxsection" #boxsection>
    <div id="MySection" (click)="CloseEvent($event);" #MySection>
        <section #navegador1 id="navegador1" class="navegadores navegador1">

            <ul class="Nav-var-min">

                <li class="Nav-item-min">
                    <a *ngIf="UserSession !== null" class="Nav-link session">
                        Sesión de:<span>&nbsp;{{Parrafo3}}</span>
                    </a>
                </li>

                <li class="Nav-item-min">
                    <a class="Nav-link" [routerLink]="['/home']" [queryParams]="{action: '1'}">
                        Home
                    <div class="div" [ngClass]="ElLink1 ? 'link1 ' : 'link2' "></div>
                    </a>
                </li>
    
                <li class="Nav-item-min">
                    <a class="Nav-link" [routerLink]="['/chat']" [queryParams]="{action: '2'}">
                        Chat
                    <div class="div" [ngClass]="ElLink2 ? 'link1 ' : 'link2' "></div>
                    </a>
                </li>
    
                <li class="Nav-item-min">
                    <a *ngIf="UserSession === null; else UserSess" class="Nav-link" [routerLink]="['/login']" [queryParams]="{action: '3'}">
                        Login
                    <div class="div" [ngClass]="ElLink3 ? 'link1 ' : 'link2' "></div>
                    </a>
                </li>
            </ul>


            <ol class="Nav-cog">
                <li>
                    <svg #Svg id="svg" (click)="Light();">
                        <foreignObject id="foreignObject1"  x="10" y="10" width="20" height="20">
                            <i class="icon-moon-inv"></i>
                        </foreignObject>

                        <circle #Circle id="circle" class="icon-adjust" r="10" cy="50%" cx="25%" pathlength="100" />

                        <foreignObject id="foreignObject2" x="10" y="10" width="20" height="20">
                            <i class="icon-sun-filled"></i>
                        </foreignObject>
                    </svg>
                </li>
            </ol>


        </section>
        <!-- <section #navegador2 id="navegador2" class="navegadores navegador2"></section> -->
    </div>

</div>



<div id="up" #parrafoBox>
    <p (click)="scrollToTop();" #parrafo1 name="parrafo1">↑</p>
    <br />
    <!-- <p #parrafo2 name="parrafo2">{{Parrafo2}}</p> -->
</div>

<!-- <app-sub-menu></app-sub-menu> -->