* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    background: transparent;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    font: 400 clac(8px + 2em) sans-serif;
}


#NavSection {
    width: 100%;
    height: 60px;
    position: sticky;
    /* position: sticky; */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: top .5s ease-in-out, background .3s ease-in-out;
    background: rgba(0, 50, 150, .4);
    top: 0px;
    z-index: 100;
    /* border: 2px solid cyan; */
}

#NavSection.NavToggle {
    background: transparent;
    top: -60px;
}

#Nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid tomato; */
}

#logo {
    margin: 2px;
    height: 80%;
}

/* app-sub-menu {
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    position: sticky;
} */


ol {
    display: flex;
    /* display: none; */
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid orangered; */
}


#Nav input {
    opacity: .5;
    display: none;
    background: red;
}


#Nav .btn-menu {
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    display: none;
    background: rgba(0, 0, 0, .05);
    /* outline: 2px solid rgba(0, 0, 0, .5); */
}

#Nav .btn-menu span {
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    transition: all .25s ease-in;
}

#Nav .btn-menu span:nth-child(1) {
    top: 0;
}

#Nav .btn-menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

#Nav .btn-menu span:nth-child(3) {
    bottom: 0;
}


.menu1.open1 {
    animation: menu1 .5s linear forwards;
}

.menu2.open2{
    animation: menu2 250ms linear forwards;
}

.menu3.open3{
    animation: menu3 .5s linear forwards;
}


.menu1.close1 {
    animation: cerrar-menu1 .5s linear forwards;
}

.menu2.close2 {
    animation: cerrar-menu2 250ms linear forwards;
}

.menu3.close3 {
    animation: cerrar-menu3 .5s linear forwards;
}



@keyframes menu1 {
    50% {
        top: 50%;
    }
    100% {
        top: 50%;
        transform: rotate(225deg) translateY(1px);
    }
}

@keyframes menu3 {
    50% {
        bottom: 50%;
    }
    100% {
        bottom: 50%;
        transform: rotate(135deg) translateY(-1px);
    }
}

@keyframes menu2 {
    to {
        opacity: 0;
    }
    from {
        display: none;
    }
}



@keyframes cerrar-menu1 {
    50% {
        top: 50%;
    }
    100% {
        top: 0%;
        transform: rotate(180deg) translateY(1px);
    }
}

@keyframes cerrar-menu3 {
    50% {
        bottom: 50%;
    }
    100% {
        bottom: 0%;
        transform: rotate(180deg) translateY(-1px);
    }
}

@keyframes cerrar-menu2 {
    to {
        display: block;
    }
    from {
        opacity: 0;
    }
}



.Nav-var {
    width: 50%;
    min-width: 255px;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 5px solid gold; */
}

a {
    transition: color .3s ease-in, text-shadow .25s ease-in;
    color: #aaa;
    text-shadow: 5px 4px 5px rgba(150, 155, 200, .9);
}

a div {
    width: 0%;
    margin: auto;
    height: 2px;
    transition: width .25s ease-out;
    color: #fff;
    Background: #fff;
    border-radius: .5rem;
}

a:hover {
    color: whitesmoke;
    text-shadow: 5px 4px 100px rgba(255, 255, 255, .5);
}

a:hover div {
    width: 100%;
}

a .link1 {
    width: 100%;
}

a .link2 {
    width: 0%;
}


#MySection {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
    z-index: 1000;
    transition: background .3s ease-in;
    /* border: 2px solid green; */
}

.navegadores {
    width: 40%;
    position: fixed;
    transition: all .2s ease-in-out;
    background: rgba(0, 0, 0, .9);
}

.navegador1 {
    width: 75%;
    height: 100%;
    transition: all .2s ease-in-out;
    top: 0;
    left: -75%;
    /* border: 2px solid cyan; */
}

.navegador2 {
    top: 0;
    right: -40%;
    /* border: 2px solid tomato; */
}


#up {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, .2);
    position: fixed;
    bottom: 300px;
    right: 20px;
    transition: all .25s ease-in;
    z-index: 10;
    cursor: pointer;
    outline: 3px solid rgba(0, 0, 0, .03);
    outline-offset: -3px
}

#up p {
    text-align: center;
    line-height: 30px;
}

#up:hover {
    background: rgba(0, 0, 0, .5);
    box-shadow: 3px -3px 10px 5px rgba(255, 255, 255, .2) inset;
}


#boxsection {
    display: none;
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;
    top: 0;
    margin-top: 60px;
    overflow: hidden;
    z-index: 1000;
    /* border: 5px solid crimson; */
}


.var-min {
    width: auto;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid gold; */
}


.Nav-item-min {
    width: 100%;
    padding: 15px;
    display: flex;
    border-bottom: 1px solid rgba(245, 245, 245, 0.356);
}

.Nav-item-min a {
    font-size: calc(5px + 1em);
    padding: 10px;
    /* border: 2px saddlebrown solid; */
}



/* -----------------Media Query------------------- */


@media (max-width: 650px),
(width: 300px) {
    #NavSection {
        background: rgb(5, 50, 150);
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
    }
    #up p {
        cursor: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .Nav-var {
        display: none;
    }
    #Nav .btn-menu {
        display: flex;
        justify-content: space-between;
        margin: auto 10px;
    }
    /* .navegadores {
        width: 75%;
    } */
    /* .Nav-var-min {
        display: flex;
    } */
}