{{V()}}
<section #NavSection id="NavSection" (window:scroll)="myScroll();">
    <nav id="Nav">

        <div id="logo-footer">
            <img class="img-logo" src="../../../assets/img/Logo01.png" title="Logo">
            <h1 class="logo-footer">App Flow Craft</h1>
        </div>

        <ul class="Nav-var">

            <li class="Nav-item">
                <a class="Nav-link" [routerLink]="['/home']" [queryParams]="{action: '1'}">
                    Home
                <div class="div" [ngClass]="ElLink1 ? 'link1 ' : 'link2' "></div>
                </a>
            </li>

            <li class="Nav-item">
                <a class="Nav-link" [routerLink]="['/chat']" [queryParams]="{action: '2'}">
                    Chat
                <div class="div" [ngClass]="ElLink2 ? 'link1 ' : 'link2' "></div>
                </a>
            </li>

            <li class="Nav-item">

                <a *ngIf="UserSession === null; else UserSess" class="Nav-link" [routerLink]="['/login']" [queryParams]="{action: '3'}">
                    Login
                <div class="div" [ngClass]="ElLink3 ? 'link1 ' : 'link2' "></div>
                </a>

                <ng-template #UserSess>
                        <a class="Nav-link " [routerLink]="[ '/login'] " [queryParams]="{action: '3'} " (click)="logoff() ">
                        Cerrar Sesión
                        <div class="div " [ngClass]="ElLink3 ? 'link1 ' : 'link2' "></div>
                      </a>
                </ng-template>

            </li>

        </ul>


        <input #btnCheck type="checkbox" id="btn-menu" name="input-check" title="input-check" />
        <label (click)="BtnMenu();" for="btn-menu" class="btn-menu">
            <span class="menu1" #menu1></span>
            <span class="menu2" #menu2></span>
            <span class="menu3" #menu3></span>
        </label>

    </nav>
</section>


<div id="boxsection" class="boxsection" #boxsection>
    <div id="MySection" (click)="CloseEvent($event);" #MySection>
        <section #navegador1 id="navegador1" class="navegadores navegador1">

            <ul class="Nav-var-min">
                <li class="Nav-item-min">
                    <a class="Nav-link" [routerLink]="['/home']" [queryParams]="{action: '1'}">
                        Home
                    <div class="div" [ngClass]="ElLink1 ? 'link1 ' : 'link2' "></div>
                    </a>
                </li>
    
                <li class="Nav-item-min">
                    <a class="Nav-link" [routerLink]="['/chat']" [queryParams]="{action: '2'}">
                        Chat
                    <div class="div" [ngClass]="ElLink2 ? 'link1 ' : 'link2' "></div>
                    </a>
                </li>
    
                <li class="Nav-item-min">
                    <a *ngIf="UserSession === null; else UserSess" class="Nav-link" [routerLink]="['/login']" [queryParams]="{action: '3'}">
                        Login
                    <div class="div" [ngClass]="ElLink3 ? 'link1 ' : 'link2' "></div>
                    </a>
                </li>
            </ul>


            <ol class="Nav-cog">
                <li>
                    <i class="icon-cog-1"></i>
                </li>
    
                <li>
                    <i class="icon-adjust"></i>
                </li>
            </ol>


        </section>
        <!-- <section #navegador2 id="navegador2" class="navegadores navegador2"></section> -->
    </div>
</div>



<div id="up" #parrafoBox>
    <div></div>
    <p #parrafo1 name="parrafo1">↑</p>
    <br />
    <p #parrafo2 name="parrafo2">{{Parrafo2}}</p>
</div>

<!-- <app-sub-menu></app-sub-menu> -->