<!-- <app-slider></app-slider> -->
<section id="secction-intro" class="section">
    <h1>secction-services</h1>
    <br>
    <div id="parrafo-intro">
        <p>
            Bienvenido a [La Empresa], somos un equipo apasionado de desarrolladores que se 
            especializa en la creación de soluciones digitales innovadoras y personalizadas. 
            Con años de experiencia en el desarrollo de aplicaciones web y sitios, 
            utilizamos tecnologías de vanguardia como ASP.NET Core y Angular para ayudar a nuestros
            clientes a alcanzar sus objetivos comerciales y a mejorar su presencia en línea.
        </p>
        <p>Nuestra misión es empoderar a las empresas mediante el desarrollo de aplicaciones web 
            robustas y escalables que no solo satisfacen sus necesidades actuales, sino que también 
            están preparadas para el futuro. 
            Creemos que cada proyecto es una oportunidad para construir algo único y valioso. 
            Nos comprometemos a ofrecer soluciones que se alineen con la visión de nuestros clientes.
        </p>
    </div>
</section>