
.icon-sun:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-gmail:before { content: '\e803'; } /* '' */
.icon-headphones:before { content: '\e804'; } /* '' */
.icon-mobile:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-linkedin-squared:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-mail-1:before { content: '\e809'; } /* '' */
.icon-camera:before { content: '\e80a'; } /* '' */
.icon-picture:before { content: '\e80b'; } /* '' */
.icon-cog-alt:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-upload-cloud:before { content: '\e80e'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-folder:before { content: '\e810'; } /* '' */
.icon-adjust:before { content: '\e811'; } /* '' */
.icon-left-open-outline:before { content: '\e812'; } /* '' */
.icon-right-open-outline:before { content: '\e813'; } /* '' */
.icon-left:before { content: '\e814'; } /* '' */
.icon-right:before { content: '\e815'; } /* '' */
.icon-down:before { content: '\e816'; } /* '' */
.icon-up:before { content: '\e817'; } /* '' */
.icon-pause-outline:before { content: '\e818'; } /* '' */
.icon-stop-outline:before { content: '\e819'; } /* '' */
.icon-fast-fw-outline:before { content: '\e81a'; } /* '' */
.icon-rewind-outline:before { content: '\e81b'; } /* '' */
.icon-play-outline:before { content: '\e81c'; } /* '' */
.icon-lock-empty:before { content: '\e81d'; } /* '' */
.icon-lock-open-empty:before { content: '\e81e'; } /* '' */
.icon-down-circle:before { content: '\e81f'; } /* '' */
.icon-down-open:before { content: '\e820'; } /* '' */
.icon-down-bold:before { content: '\e821'; } /* '' */
.icon-left-bold:before { content: '\e822'; } /* '' */
.icon-right-bold:before { content: '\e823'; } /* '' */
.icon-up-bold:before { content: '\e824'; } /* '' */
.icon-left-big:before { content: '\e825'; } /* '' */
.icon-right-big:before { content: '\e826'; } /* '' */
.icon-down-big:before { content: '\e827'; } /* '' */
.icon-up-big:before { content: '\e828'; } /* '' */
.icon-ccw:before { content: '\e829'; } /* '' */
.icon-arrows-ccw:before { content: '\e82a'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e82b'; } /* '' */
.icon-loop-outline:before { content: '\e82c'; } /* '' */
.icon-left-circle:before { content: '\e82d'; } /* '' */
.icon-right-circle:before { content: '\e82e'; } /* '' */
.icon-up-circle:before { content: '\e82f'; } /* '' */
.icon-wifi-outline:before { content: '\e830'; } /* '' */
.icon-signal:before { content: '\e831'; } /* '' */
.icon-wifi:before { content: '\e832'; } /* '' */
.icon-off:before { content: '\e833'; } /* '' */
.icon-credit-card:before { content: '\e834'; } /* '' */
.icon-floppy:before { content: '\e835'; } /* '' */
.icon-folder-add:before { content: '\e836'; } /* '' */
.icon-volume-off:before { content: '\e837'; } /* '' */
.icon-volume-high:before { content: '\e838'; } /* '' */
.icon-volume-middle:before { content: '\e839'; } /* '' */
.icon-volume-low:before { content: '\e83a'; } /* '' */
.icon-mute:before { content: '\e83b'; } /* '' */
.icon-music:before { content: '\e83c'; } /* '' */
.icon-sound:before { content: '\e83d'; } /* '' */
.icon-phone:before { content: '\e83e'; } /* '' */
.icon-phone-1:before { content: '\e83f'; } /* '' */
.icon-globe:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-adult:before { content: '\e842'; } /* '' */
.icon-female:before { content: '\e843'; } /* '' */
.icon-male:before { content: '\e844'; } /* '' */
.icon-cog-1:before { content: '\e845'; } /* '' */
.icon-cog-outline:before { content: '\e846'; } /* '' */
.icon-attention:before { content: '\e847'; } /* '' */
.icon-alert:before { content: '\e848'; } /* '' */
.icon-warning-empty:before { content: '\e849'; } /* '' */
.icon-attention-1:before { content: '\e84a'; } /* '' */
.icon-attention-alt:before { content: '\e84b'; } /* '' */
.icon-warning:before { content: '\e84c'; } /* '' */
.icon-sun-filled:before { content: '\e84d'; } /* '' */
.icon-sun-inv:before { content: '\e84e'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e84f'; } /* '' */
.icon-moon-inv:before { content: '\e850'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e851'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-google-plus-circle:before { content: '\f2b3'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-folder-open-empty-1:before { content: '\f4c2'; } /* '' */
