<section id="secction-services" class="section" appScrollAnimation>
    <div id="parrafo-servicios">
        <h1>secction-services</h1>
        <br>
        <br>
        <h2>Ofrecemos una variedad de servicios, incluyendo:</h2>
        <br>
        <p>- Desarrollo de aplicaciones web personalizadas.</p>
        <p>- Creación de APIs con ASP.NET Core.</p>
        <p>- Desarrollo de SPAs con Angular.</p>
        <p>- Mantenimiento y soporte técnico.</p>
        <p>- Consultoría en arquitectura de software.</p>
    </div>
</section>