<section id="secction-services" class="section" appScrollAnimation>


    <div class="div-titulo">
        <div>
            <h5>
                Servicios
            </h5>
            <h1>
                Nuestros Servicios
            </h1>
        </div>
    </div>
    <br>


    <div id="parrafo-servicios">

        <div class="div-section">     
            <div class="section-p">
                <h3>Desarrollo de aplicaciones web personalizadas</h3>
                <p>
                    Creamos aplicaciones a medida, adaptadas a tus necesidades específicas utilizando tecnologías modernas como ASP.NET Core y Angular, garantizando rendimiento, escalabilidad y seguridad.
                </p>
            </div>
            <div class="icono">
                <i class="icon-globe"></i>
            </div>
        </div>
        
        <div class="div-section">
            <div class="icono">
                <i class="icon-globe"></i>
            </div>
            <div class="section-p">
                <h3>Creación de APIs con ASP.NET Core</h3>
                <p>
                    Diseñamos y desarrollamos APIs robustas y seguras que permiten la integración de sistemas y aplicaciones, facilitando el intercambio eficiente de datos y la conexión entre plataformas.
                </p>
            </div>
        </div>

        <div class="div-section">
            <div class="section-p">
                <h3>Desarrollo de SPAs con Angular</h3>
                <p>
                    Desarrollamos aplicaciones de una sola página (SPA) con Angular, ofreciendo una experiencia de usuario fluida, rápida y altamente interactiva.
                </p>
            </div>
            <div class="icono">
                <i class="icon-cog-1"></i>
            </div>
        </div>

        <div class="div-section">
            <div class="icono">
                <i class="icon-cog-1"></i>
            </div>
            <div class="section-p">
                <h3>Mantenimiento y soporte técnico</h3>
                <p>
                    Brindamos soporte continuo para garantizar que tu aplicación funcione sin problemas, actualizando tecnologías y asegurando un funcionamiento óptimo a lo largo del tiempo.
                </p>
            </div>
        </div>
        
        <div class="div-section">
            <div class="section-p">
                <h3>Consultoría en arquitectura de software</h3>
                <p>
                    Te asesoramos en la planificación y diseño de la arquitectura de software más adecuada para tu proyecto, asegurando que sea escalable, eficiente y fácil de mantener.
                </p>
            </div>
            <div class="icono">
                <i class="icon-adult"></i>
            </div>
        </div>

        <div class="div-section">
            <div class="icono">
                <i class="icon-adult"></i>
            </div>
            <div class="section-p">
                <h3>Servicios</h3>
                <p>
                    En nuestra empresa de desarrollo, ofrecemos una variedad de servicios especializados para cubrir todas las necesidades de tu negocio digital.
                </p>
            </div>
        </div>


    </div>
</section>