/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    background: transparent;
    color: whitesmoke;
    -webkit-user-select: none;
    user-select: none;
    /* border: none; */
    /* outline: none; */
    font: 400 calc(8px + .5vw) sans-serif;
}

body {
    width: 100%;
    height: auto;
    /* min-height: 100vh; */
    position: relative;    
    text-align: center;
    /* outline: 5px solid yellowgreen;
    outline-offset: -5px; */
    /* font-family: 'Montserrat', sans-serif; */
    /* background: linear-gradient(45deg, #FC466B, #3F5EFB); */
    /* background: rgba(0, 0, 0, .8); */
}


::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
  background: rgb(0, 60, 80);
}
  
::-webkit-scrollbar-thumb {
  border-radius: .3rem;
  background: rgb(42, 110, 178)
}